
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Josefin Sans', sans-serif;
}

img{
    border-radius: 50%;
    width: 140px;
    height: 200px;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(234, 423, 237, alpha);
}

h1{
    font-size: 50px;
    color: purple;
    margin-bottom: 5%;
}

.show{
    font-size: 50px;
    margin-bottom: 5%;
   
}